.header {
  display: flex; /* Use flexbox layout */
  /* align-items: center; Center items vertically */
  justify-content: space-between; /* Space between title and navbar */
  background-color: #1c7b5d; /* Dark background color */
  color: white; /* White text color */
  padding: 1rem; /* Padding around the header */
  overflow: hidden;
  
}

.title {
 background-color: rgb(19, 41, 66);
  font-size: 1.5rem; /* Font size for the hotel name */
  border-radius: 10px;
  /* margin-left: 1%; */
  margin-right: 40%;
  padding: 10px;
}
.title:hover{
  background-color: rgb(8, 8, 8);
}

.logo {
  width: 50px;
  height: auto;
  margin-right: 10px;
}
