/* src/components/header/Header.module.css */
.header {
  display: flex; /* Use flexbox layout */
  align-items: center; /* Center items vertically */
  justify-content: space-between; /* Space between title and navbar */
  background-color: #28302d; /* Dark background color */
  color: white; /* White text color */
  padding: 1rem; /* Padding around the header */
}

.title {
  background-color: rgb(19, 41, 66); /* Darker background for title */
  font-size: 1.5rem; /* Font size for the hotel name */
  border-radius: 10px;
  margin-right: 0; /* Adjust margin for spacing */
  padding: 10px;
}

.title:hover {
  background-color: rgb(8, 8, 8); /* Darker hover effect */
}

.logo {
  width: 50px; /* Logo width */
  height: auto; /* Maintain aspect ratio */
  margin-right: 10px; /* Gap between the logo and title */
}