.navbar {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  width: 100%;
}

.navList {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navItem {
  margin-right: 15px;
}

.navItem a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navItem a:hover {
  color: #f39c12;
  text-decoration: underline;
}

.logoutButton {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}
.logoutButton{
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
}
.logoutButton:hover {
  color: #f39c12;
  text-decoration: underline;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .navbar {
    display: none; /* Hide navbar by default on mobile */
    flex-direction: column;
    align-items: center;
    background-color: #3d4c54;
    position: absolute;
    top: 60px; /* Adjust based on header height */
    left: 0;
    width: 100%;
    z-index: 1000;
  }

  .navbar.visible {
    display: flex; /* Show navbar when visible */
  }

  .navList {
    flex-direction: column;
    align-items: center;
  }

  .navItem {
    margin: 10px 0;
  }
}